
*{
    margin: 0;
    padding: 0;
}


.homebody {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin: auto;
    width: 900px;
    padding: 50px 50px 50px 50px;
    background-image: url(../img/galaxy.jpeg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeheader {
        margin-top: 100px;
}
.homefigure {
    margin-left: 350px;
    margin-right: 350px;
    padding-bottom: 6px;
    width: 200px;
    height: 128px;
    text-align: center;
}


.home-h1 {
    font-family: 'Press Start 2P';
    font-size: 1.2em;
    padding-left: 302px;
    padding-right: 300px;
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    
}
.home-nav {
    font-family: 'Press Start 2P';
    font-size: 1.2em;
}

li {
    display: inline;
}

.home-list {
    text-align: center;
    padding-top: 15px;
    
}
.home-page:link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.home-page:visited {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.home-page:hover {
    color: #ffff00;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.home-nav{
    font-family: 'Press Start 2P';
    font-size: 1.2em;
}
.homenav-works:link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
    
}

.homenav-works:visited {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.homenav-works:hover {
    color: #0000ff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.homenav-about:link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.homenav-about:visited {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.homenav-about:hover {
    color: #ff0000;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.social-links{
    padding-top: 35px;
    text-align: center;
}

.worksbody {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin: auto;
    width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    background-image: url(../img/galaxy.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.worksheader{
    display: flex;
    padding-left: 310px;
    text-align: center;
}
.works-h1 {
    font-family: 'Press Start 2P';
    font-size: 56px;
    padding-left: 20px;
    padding-top: 1px;
    color: #fff;
    text-align: center;
}
.wrapper {
    overflow: hidden;
}
.works-nav {
    display: inline;
    width: 1000px;
    height: 50px;
    padding-top: 20px;
    font-family: 'Press Start 2P';
    font-size: 1em;
    text-align: center;
}
.works-ul {
    list-style-type: none;
}
.works-li {
    padding-bottom: 7px;
    padding-left: 3px;
}
.works-about:link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}
.works-about:visited {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}
.works-about:hover {
    color: #ffff00;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}

.worksgallery{
    text-align: center;
    width: 850px;
    height: 600px;
    display: block;
    padding-left: 75px;
} 
.worksgallery figure {
    float: left;
    margin: 20px;
    width: 380px;
    height: 250px;
    border-style: solid;
    border-color: #fff;
    border-width: thin;
    text-align: center;
    overflow: hidden;
}
.worksgallery img{
    margin-right: 15px;
}
.worksgallery figcaption {
    font-family: 'Press Start 2P';
    font-size: 2em;
    display: block;
    padding-top: 110px;
    height: 140px;
    width: 380px;
    background-color: #000;
    position: absolute;
    color: #fff;
    opacity: 0;
    transition: opacity .35s ease;
}
.worksgallery figcaption:hover {
    opacity: .8;
}


.worksfooter{
    font-family: 'Press Start 2P';
    font-size: .3em;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 8px;
}



.mainbody {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin: auto;
    width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    background-image: url(../img/galaxy.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mainheader{
    display: flex;

}
.main-h1{
    font-family: 'Press Start 2P';
    font-size: 28px;
    padding-top: 25px;
    padding-left: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.maintohome:link {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    letter-spacing: 1px;
}
.maintohome:visited {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    letter-spacing: 1px;
}
.maintohome:hover {
    color: #ffff00;
    text-decoration: none;
    font-size: 28px;
    letter-spacing: 1px;
}
.wrapper {
    overflow: hidden;
}
.main-nav {
    width: 150px;
    min-height: 450px;
    padding-top: 20px;
    float: left;
    font-family: 'Press Start 2P';
    font-size: 1em;
}
.main-ul {
    list-style-type: none;
}
.main-li {
    padding-bottom: 7px;
    padding-left: 3px;
}

.main-works:link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}
.main-works:visited {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}
.main-works:hover {
    color: #ff0000;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}
.social-links{
    padding-top: 7px;
    display: inline-flex;
    list-style: none;
    
}
.social-links li{
    padding-right: 15px;
}
.maingallery{
    width: 850px;
    height: 550px;
    float: right;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
} 
h2{
    font-family: 'Space Mono';
    float: right;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 290px;
    margin-top: 20px;
    padding-top: 20px;
}
p{

    padding: 0 10px 15px 15px;
}

.maingallery figure{
    position: absolute;
}

.mainfooter{
    margin-left: 250px;
    margin-right: 180px;
    font-family: 'Press Start 2P';
    font-size: .3em;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 10px;
}
