@import url('https://fonts.googleapis.com/css?family=Press Start 2P'); 
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin: auto;
    width: 900px;
    padding: 50px 50px 50px 50px;
    background-image: url(../img/galaxy);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    font-family: 'Press Start 2P';
    font-size: 1.2em;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}


article {
    padding-bottom: 50px;
}


h1 {
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 1.5em;
    padding: 27px 27px 27px 27px;

}

h2 {
    background-color: #fff;
    color: #000000;
    font-family: 'Press Start 2P';
    font-size: 1em;
    font-kerning: auto;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-top: 20px;
}


p {
    color: #fff;
    font-family: 'VT323';
    font-size: 1.6em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px
}

footer{
    font-family: 'Press Start 2P';
    font-size: .3em;
    font-kerning:auto;
    color: #fff;
    padding-left: 700px;
}